<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container">
    <h2>
        <%= @subscription.name %>
    </h2>

    <% @contents.each_with_index do |c, index| %>
        <h3>
            <%= c.title%> 
        </h3>
        <h5>
            <%= c.duration%> mins
        </h5>
        <%= c.summary%>
        <%= c.publish_date%>
        <%= c.keywords%>
        <%= c.url%>
        <h3>
            <%= index %>
        </h3>

        <%# radio_button_id = 'play_now_' + index.to_s %>
        <%= radio_button_tag(:play_now, c.url, + index.to_s) %>
        <label for=<%= 'play_now_' + c.url %> class="btn btn-primary">play</label>

        <!-- <label for=<%#= radio_button_id %> class="btn btn-primary">play</label> -->
        <hr/>
    <% end %>

    <% current_page = request.params['page'] %>
    <% current_page = 1 if request.params['page'].nil? %>
    <%= link_to "Next Page>", request.query_parameters.merge( page: current_page.to_i + 1 ), method: :get,  class: 'pagination_link' %>
    <%= link_to "<Previous Page", request.query_parameters.merge( page: current_page.to_i - 1 ), method: :get, class: 'pagination_link' if !current_page.nil? && current_page.to_i > 1%>
    <hr/>
    <br/>
    <br/>
    <br/>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div clas='align-center'>
            <audio id="player" controls>
                <source src="" />
            </audio>
        </div>
    </nav>
</div>

<script>
 $(document).ready(function(){
     $("label").on("click", function() {
         $(this)[0].className = 'btn btn-success'
         var related_check_box_id = $(this).attr('for');
         $('#' + related_check_box_id).prop('checked', true);
         var url = $('#' + related_check_box_id).value;
         console.log(url);
         $("#player").attr("src", url.replace('#play_now_', ''));

     })
 });
</script>
