<div class="container">
    <h2>
        <%= @subscription.name %>
    </h2>

    <audio id="player" controls>
        <source src="/path/to/audio.ogg" type="audio/ogg">
        <source src="https://traffic.omny.fm/d/clips/aaea4e69-af51-495e-afc9-a9760146922b/6081eee7-c459-4e12-a1ab-aadc000fc4a7/c25576b7-0bbb-45c8-9aa9-abc600f87144/audio.mp3?utm_source=Podcast&in_playlist=413a6904-4d72-4be8-9421-aadc000fc4ba" type="audio/mp3" />
    </audio>



<% @contents.each do |c| %>
    <h3>
        <%= c.title%> 
    </h3>
    <h5>
        <%= c.duration%> mins
    </h5>
    <%= c.summary%>
    <%= c.publish_date%>
    <%= c.keywords%>
    <%= c.url%>
    <audio id="player" controls>
        <source src=<%=c.url %> type="audio/mp3">
    </audio>

    <%= audio_tag c.url %>

    <hr/>
<% end %>

</div>
